@import "colors.css";

h1 {
    color: var(--header-color);
}

* {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: 'Space Mono', monospace;
}

a {
    color: var(--link-color);
}
