@import "colors.css";

h1 {
    color: var(--header-color);
}

* {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: 'Space Mono', monospace;
}

::-moz-selection { /* Code for Firefox */
    background: var(--link-color);
}

::selection {
    background: var(--link-color);
}

a {
    color: var(--link-color);
}

.main_title {
    text-align: center;
    font-size: xx-large;
}

.description_section {
    font-size: large;
    text-align: center;
}

.links_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.link > a > img {
    width: 64px;
    height: 64px;
}
