<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Insta-Ree.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0A96555E42327E754F8EF02AA290406ABEC84E4E</string>
				<key>dateExpires</key>
				<string>14/05/2020</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZD78LQ5BAL.Howling-Pass.Insta-Ree</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ZD78LQ5BAL</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>ZD78LQ5BAL.Howling-Pass.Insta-Ree</string>
				</array>
			</dict>
			<key>name</key>
			<string>Insta-Ree.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d4052377-f474-4686-99ab-376be25cb500</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: Howling-Pass.Insta-Ree</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZD78LQ5BAL</string>
				<key>name</key>
				<string>Callum Wilson</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
